{% extends 'base.html' %}

{% block content %}
<style>
</style>
<div class="header">
    <h3>Chatbot</h3>
    <div class="chatbot">
        <div class="textbox">
            <p class="msg-text">Hello, <br> What question do you have for me?</p> 
            {% for i in range(0,arg1) %} 
                <div class="pl-5">
                    <p class="msg-text">{{arg2[i]}}</p> 
                </div>
                <p class="msg-text mr-2" >{{arg0[i]}}</p> 
            {% endfor %}        
        </div>
        <form id="chat" action="#" method="post" onsubmit="submitForm();">
            <p >
                <input type="text" id="qns" name="qns" onkeydown="checkEnter(event)" autofocus>
            </p>
            <p><input class="btn btn-primary" type="submit" value="submit"></p>
        </form>                
     </div>
</div>

{% endblock %}