<style>
    .main-container {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        margin-top: 50px;
    }
    /* Change font size for specific elements */
    .rounded-box h1 {
        font-size: 18px; /* Adjust the font size as needed */
    }
    .rounded-box p {
        font-size: 14px; /* Adjust the font size as needed */
    }
    #image-container {
        margin: auto;
        max-width: 80%;
    }
    img {
        max-width: 100%;
    }
    .page.snapshots {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two columns */
        grid-template-rows: auto auto; /* Two rows with automatic height */
        gap: 20px; /* Gap between grid items */
        justify-content: center; /* Center grid items horizontally */
    }
    .rounded-box {
        border-radius: 20px; /* Rounded corners */
        border: 10px solid #fdfdfd0a; /* Border */
        padding: 10px 20px; /* Padding */
        text-align: center; /* Center content */
        background-color: #a2b5dc30; /* Add background color */
        overflow: auto; /* Enable scrollbars if content overflows*/
    }
    .rounded-box img,
    .rounded-box video {
        padding: 5px 10px; /* Adjust the padding as needed */
        grid-template-columns: repeat(autofit, minmax(300px, 1fr));
        max-width: calc(100% - 20px); /* Account for horizontal padding */
        max-height: calc(100% - 20px); /* Account for vertical padding */
    }

</style>

{% extends 'base.html' %}

{% block content %}

<!-- Main content section -->

<div class="page snapshots" style="text-align: center;">
    <!-- Content to be centered -->

    <div class="rounded-box">
        <h1>Learn About Color Blindness</h1>
        <div style="display: flex; justify-content: center">
            <!-- Content to be horizontally centered -->
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/4nuvM6QSKbQ?si=7kcMvK6Diem0NWBz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <p>Check out the information page to learn about what causes color blindness and how it impacts daily life!</p>  
        <p>Color blindness is a prevalent condition many people face that is not as discussed as other accessibility issues. Our Coloright team believes it is important to address the lack of awareness around color blindness and a few common misconceptions. People who have this condition are often overlooked and not properly accommodated.</p>       
    </div>

    <div class="rounded-box">
        <h1>Make Your Images Color-Friendly</h1>
        <div style="display: flex; justify-content:center;">
            <!-- First centered image -->
            <img src="static/main_page_original_map.jpg" alt="plots image 1" style="max-width: 100%;"/>
        </div>
        <div style="display: flex; justify-content:center;">
            <!-- Second centered image -->
            <img src="static/main_page_recolored_map.jpg" alt="plots image 2" style="max-width: 100%;"/>
        </div>
        <p>Check out this page to transform your images and graphs into color-friendly graphics!</p>        
    </div>

    <div class="rounded-box">
        <h1>Take the Ishihara Test</h1>
        <div style="display: flex; justify-content: center;">
            <!-- Content to be horizontally centered -->
            <img src="static/main_page_12.jpg" alt="test image 1" style="max-width: 100%;"/>
        </div>
        <p>Test your color vision with this simple test!</p>   
        <p>The Ishihara Test is a popular and dependable self-testing activity to determine whether you may have color blindness. All you have to do is find the number hidden among dots of color!</p>       
    </div>

    <div class="rounded-box">
        <h1>Talk to Our Chatbot</h1>   
        <div style="display: flex; justify-content: center;">
            <!-- Content to be horizontally centered -->
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/4nuvM6QSKbQ?si=7kcMvK6Diem0NWBz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>  
        <p>Ask our chatbot any questions! &nbsp;&nbsp; -----></p>   
        <p>CREDIT COHERE: ... </p>  
    </div>

</div>


{% endblock %}