<head>
    <style>

    </style>
</head>


{% extends 'base.html' %}

{% block content %}

<div>
    <h3>What is colourblindness?</h3>
    <p>
        Colour blindness, or colour vision deficiency, affects approximately 300 million people worldwide. 
        Despite this, there is a widely spread misconception that all individuals with colourblindness only see black and white 
        (a condition known as Achromatopsia). 
    </p>
    <p>
        Another common misconception centers around "red-green colourblindness" - the most common form of colourblindness. 
        People tend to think that people with "red-green colourblindness":
        <ul>
            <li>Can't see red or green</li>
            <li>Confuse red with green</li>
            <li>See reds as greens and greens as reds</li>
        </ul>
    </p>
</div>

{% endblock %}