<head>
    <style>
        .split {
            display: grid;
            grid-template-columns: 1.5fr 1fr;
            grid-template-rows: auto auto;
            gap: 20px;
        }
    </style>
</head>


{% extends 'base.html' %}

{% block content %}
<div class="split">
    <div style="margin: 10px;">
        <h3>What is colourblindness?</h3>
        <p>
            Colourblindness, or colour vision deficiency, affects approximately 300 million people worldwide. 
            Despite this, there is a widely spread misconception that all individuals with colourblindness only see black and white 
            (a condition known as <b>achromatopsia</b>). 
        </p>
        <p>
            Another common misconception centers around "red-green colourblindness" (known as <b>deuteranopia</b>) - the most common form of colourblindness. 
            People tend to think that people with deuteranopia:
            <ul>
                <li>Can't see red or green</li>
                <li>Confuse red with green</li>
                <li>See reds as greens and greens as reds</li>
            </ul>
            In reality, people with deuteranopia can confuse any colours which include red or green as part of the colour.
            For example, blue and purple can be confused as they cannot see the "red" part of the purple colour.
        </p>
        <p style="margin-bottom: 60px;">
            The images on the right simulate the difference between normal vision and deuteranopia, allowing for better understanding of 
            the condition.
        </p>
        <h3>What causes colourblindness?</h3>
        <p> Colourblindness is primarily a genetic condition caused by anomalies in the X chromosome, making it more common in men than women.  
            The condition, often inherited from the mother who may carry the gene without being affected herself, 
            can also be acquired from certain illnesses such as diabetes, multiple sclerosis, some liver diseases, and many eye diseases.
        </p>
        <p>
            Colour vision deficiency (CVD) ranges from mild to severe and remains constant throughout an individual's life. 
            It stems from the dysfunction of cone cells in the retina, which are crucial for colour discrimination. 
        </p>
        <p style="margin-bottom: 60px;">
            Humans typically have three types of cone cells, each sensitive to different light wavelengths (blue, green, red). 
            Colourblindness occurs when one or more types of these cells malfunction, leading to difficulties in distinguishing certain colours. 
            For instance, a malfunction in red cone cells results in issues seeing red accurately. 
            Severe cases may result in dichromacy such as dichromacy, where only two types of cone cells function, affecting colour perception.
        </p>
        <h3>Why is colourblindness awareness important?</h3>
        <p>Colorblindness awareness is important for several reasons including but not limited to:</p>
            <ol style="margin-bottom: 60px;">
                <li style="margin-bottom: 10px;"><b>Inclusion and Accessibility:</b> Awareness helps in the creation of inclusive and accessible environments, both physically and digitally. 
                    It guides designers, educators, and policymakers to consider the needs of people with color vision deficiencies in public spaces, 
                    educational materials, websites, and apps, ensuring that everyone has equal access to information and services.</li>
                <li style="margin-bottom: 10px;"><b>Safety:</b> Color is often used as a critical indicator in safety signals, warnings, and navigation. Awareness can lead 
                    to the implementation of color-blind-friendly designs in signage, public transportation, and digital interfaces, 
                    reducing risks and improving safety for everyone.</li>
                <li style="margin-bottom: 10px;"><b>Social Understanding and Empathy:</b> Raising awareness fosters empathy and understanding among the general population. 
                    It helps reduce misconceptions and stigmas associated with color blindness and encourages a more supportive and accommodating community.</li>
                <li style="margin-bottom: 10px;"><b>Advocacy and Policy Change:</b> Increased awareness can drive advocacy efforts for policy changes that benefit people with color vision deficiencies, 
                    such as in education, workplace accommodations, and technology development.</li>
                    
                    In conclusion, color blindness awareness is vital to building a more inclusive society that recognizes and accommodates 
                    the diversity of human experiences and perceptions.</li>
            </ol>
        <p>Information from <a href ="https://www.colourblindawareness.org/">colourblindawareness.org</a>.</p>
    </div>
    <div style="margin: 10px;">
        <h4>Normal Vision</h4>
        <img src="\static\normal-vision.jpg" style="width: 400px; height: 220px;">
        <h4>Deuteranopia</h4>
        <img src="\static\deuteranopia.jpg" style="width: 400px; height: 230px; margin-bottom: 30px;">
        <h3>See what others are saying!</h3>
        <p><a href="https://www.theverge.com/23650428/colorblindness-design-ui-accessibility-wordle">Chasing rainbows by Andy Baio</a> - Tech</p>
        <p><a href="https://blog.datawrapper.de/colorblindness-part3/">What's it like to be colorblind by Lisa Charlotte Muth</a> - Experiences</p>
        <p><a href="https://www.washingtonpost.com/opinions/2023/11/07/colorblind-children-testing-school/">Countless kids are colorblind - and don't know about it. Here's how to help. by Jessica Wozinsky Fleming</a> - Opinion</p>
    </div>
    <div>
        
        </p>
    </div>
</div>
{% endblock %}