<head>
    <style>
        .split {
            display: grid;
            grid-template-columns: 1.5fr 1fr;
            grid-template-rows: auto auto;
            gap: 20px;
        }
    </style>
</head>


{% extends 'base.html' %}

{% block content %}
<div class="split">
    <div style="margin: 10px;">
        <h3>What is colourblindness?</h3>
        <p>
            Colour blindness, or colour vision deficiency, affects approximately 300 million people worldwide. 
            Despite this, there is a widely spread misconception that all individuals with colourblindness only see black and white 
            (a condition known as Achromatopsia). 
        </p>
        <p>
            Another common misconception centers around "red-green colourblindness" (known as Deuteranopia) - the most common form of colourblindness. 
            People tend to think that people with Deuteranopia:
            <ul>
                <li>Can't see red or green</li>
                <li>Confuse red with green</li>
                <li>See reds as greens and greens as reds</li>
            </ul>
            In reality, people with Deuteranopia can confuse any colours which include red or green as part of the colour.
            For example, blue and purple can be confused as they cannot see the "red" part of the purple colour.
        </p>
        <p>Information from <a href ="https://www.colourblindawareness.org/">colourblindawareness.org</a>.</p>
    </div>
    <div>
        <img src="normal-vision.jpg">
        <img src="deuteranopia.jpg">
    </div>
</div>
{% endblock %}